[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/wanji/cross-dbus/dbus-1.13.18/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
