.*~
.lo
*/*.o
*/*.log
*/*.obj
*/*.so
*/*.la
*/*.lo
*/*/*.o
*/*/*.obj
*/*/*.so
*/*/*.la
*/*/*.lo
*/*/*/*.o
*/*/*/*.so
*/*/*/*.la
*/*/*/*.lo
*/*/.deps
*/*/*/.deps
*/*/.libs
*/*/*/.libs
*/*.cache
*/*/Makefile
*/*/*/Makefile
*/*/*/*/Makefile
*/*~
*/*/*~
*/*.un~
*/*/*.un~
*/*/*/*.un~
/libffi-3.3
