[Unit]
Description=D-Bus System Message Bus Socket

[Socket]
ListenStream=/home/wanji/cross-dbus/dbus-1.13.18/../dbus-1/var/run/dbus/system_bus_socket
