[D-BUS Service]
Name=com.example.ReceiveDeniedByAppArmorLabel
Exec=/bin/false ReceiveDeniedByAppArmorLabel
SystemdService=dbus-com.example.ReceiveDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/home/wanji/cross-dbus/dbus-1.13.18/test/test-apparmor-activation//com.example.ReceiveDeniedByAppArmorLabel
